<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.amazondevicemessagingapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <!-- You must replace the names in the service and receiver tags
 with names that are appropriate to your package. -->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions"/>

    <application
        android:allowBackup="true"
        android:name=".AppLogs"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AmazonDeviceMessagingApp"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">

        

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".fc.FCMMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <receiver android:name=".a3l.MyA3LMessagingService"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.amazon.A3L.messaging.intent.REGISTRATION"/>
                <action android:name="com.amazon.A3L.messaging.intent.MESSAGE"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="com.a3l.clsName"
            android:value="com.example.amazondevicemessagingapp.a3l.MyA3LMessagingService" />

        <meta-data android:name="ADM_SERVER_CONFIG_FILE_NAME" android:value="adm_server_configuration.json" />
        <!--<meta-data android:name="FCM_SERVER_CONFIG_FILE_NAME" android:value="google-services.json" />-->
    </application>

</manifest>