<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:amazon="http://schemas.amazon.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.amazondevicemessagingapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- This permission ensures that no other application can intercept your ADM messages. -->
    <permission
        android:name="com.example.amazondevicemessagingapp.permission.RECEIVE_ADM_MESSAGE"
        android:protectionLevel="signature" />


    <uses-permission android:name="com.example.amazondevicemessagingapp.permission.RECEIVE_ADM_MESSAGE" />

    <!-- This permission allows your app access to receive push notifications from ADM. -->
    <uses-permission android:name="com.amazon.device.messaging.permission.RECEIVE" />

    <!-- ADM uses WAKE_LOCK to keep the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />



    <!-- You must replace the names in the service and receiver tags
 with names that are appropriate to your package. -->


    <application
        android:allowBackup="true"
        android:name=".App"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AmazonDeviceMessagingApp"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">

        <!-- You must explicitly enable ADM and declare whether your app cannot work without
         ADM (android:required="true") or can work without ADM (android:required="false").
         If you specify android:required="false", your app must degrade gracefully if ADM
         is unavailable. -->

        <amazon:enable-feature
            android:name="com.amazon.device.messaging"
            android:required="true"/>
        <!--  Declare your ADMMessageHandlerJobBase implementation as a service -->
        <service android:name=".amazon.ADMMessageService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <!-- This is needed for devices with older ADM versions -->
        <service
            android:name=".amazon.SampleADMMessageHandler"
            android:exported="false" />
        <receiver android:name=".amazon.AmazonReceiver"
            android:permission="com.amazon.device.messaging.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.amazon.device.messaging.intent.REGISTRATION" />
                <action android:name="com.amazon.device.messaging.intent.RECEIVE" />
                <category android:name="com.example.amazondevicemessagingapp"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>